<form class="mt-12">
  <textarea
    name="input-area"
    rows="7"
    [(ngModel)]="textContent"
    placeholder="Start typing here...(or paste your text)"
    class="placeholder:text-gray-500 dark:placeholder:text-gray-300 resize-none border rounded-lg p-4 md:p-6 font-medium text-lg w-full dark:text-white outline-none border-gray-600"
  ></textarea>
  <div class="mt-4 flex items-center justify-between gap-4">
    <div class="flex items-center gap-4 flex-wrap">
      <app-checkbox
        [title]="'Exclude spaces'"
        [state]="excludeSpaces"
        [onchange]="toggleExcludeSpaces.bind(this)"
      />

      <!-- character limit -->

      <app-checkbox
        [title]="'Set Character Limit'"
        [state]="characterLimit"
        [onchange]="toggleCharacterLimit.bind(this)"
      />
    </div>
    <div class="dark:text-gray-200">
      Approx. reading time: <span>{{ totalReadingTime() }}</span>
    </div>
  </div>
</form>
